<section class="about-us">
  <div class="about-us__decor-left">
    <img src="images/about-us/decor-img-1.png" alt="">
  </div>
  <div class="container">
    <div class="about-us__header">
      <div class="about-us__decor-top">
        <svg>
          <use xlink:href="images/sprites/sprite-mono.svg#waves-1"></use>
        </svg>
      </div>
    </div>
    <div class="about-us__body">
      <h2 class="about-us__title">
        Mriya Resort & SPA — <br>
        <span>больше чем просто отдых</span>
      </h2>
      <div class="about-us__decor-middle">
        <svg>
          <use xlink:href="images/sprites/sprite-mono.svg#decor-lotus"></use>
        </svg>
      </div>
      <p class="about-us__desc">
        В окружении необычного природного ландшафта курорт становится по-настоящему уникальным. Это место идеально для
        тех, кто больше гор любит только море.
      </p>
      <button class="about-us__btn">О коплексе</button>
    </div>
  </div>
  <div class="about-us__decor-right">
    <img src="images/about-us/decor-img-2.png" alt="">
  </div>
</section>