<section class="all-inclusive">
  <div class="all-inclusive__decor-left">
    <svg>
      <use xlink:href="images/sprites/sprite-multi.svg#decor-left"></use>
    </svg>
  </div>
  <div class="container">
    <div class="all-inclusive__body all-inclusive-slider">
      <div class="all-inclusive-slider__header">
        <h3 class="all-inclusive-slider__title">
          Все включено
        </h3>
        <div class="all-inclusive-slider__conrols">
          <button class="all-inclusive-slider__btn all-inclusive-slider__btn--prev">
            <svg>
              <use xlink:href="images/sprites/sprite-mono.svg#arrow-prev"></use>
            </svg>
          </button>
          <button class="all-inclusive-slider__btn all-inclusive-slider__btn--next">
            <svg>
              <use xlink:href="images/sprites/sprite-mono.svg#arrow-next"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="all-inclusive-slider__body">
        <div class="all-inclusive-slide all-inclusive-slide--active">
          <div class="all-inclusive-slide__col">

            <a href="#" class="all-inclusive-info-box all-inclusive-info-box--type-1">
              <div class="all-inclusive-info-box__img">
                <img src="images/all-inclusive/img-1.jpg" alt="">
              </div>
              <div class="all-inclusive-info-box__info">
                <p class="all-inclusive-info-box__desc">
                  Заниматесь в тренажерном зале и посещайте групповые тренировки
                </p>
                <span class="all-inclusive-info-box__link">Читать больше<span></span></span>
              </div>

            </a>

          </div>
          <div class="all-inclusive-slide__col">

            <div class="all-inclusive-info-box all-inclusive-info-box--type-2">
              <h6 class="all-inclusive-info-box__subtitle">
                Оздоровление
              </h6>
              <p class="all-inclusive-info-box__desc">
                Mriya Resort — это маленький город со множеством возможностей, каждый найдет себе занятие по вкусу
              </p>
            </div>

            <a href="#" class="all-inclusive-info-box all-inclusive-info-box--type-3">
              <div class="all-inclusive-info-box__img">
                <img src="images/all-inclusive/img-2.jpg" alt="">
              </div>

              <div class="all-inclusive-info-box__info">
                <p class="all-inclusive-info-box__desc">
                  Питаться в ресторане шведской линии согласно выбранному варианту
                </p>
                <span class="all-inclusive-info-box__link">Читать больше<span></span></span>
              </div>

            </a>

          </div>
          <div class="all-inclusive-slide__col">

            <a href="#" class="all-inclusive-info-box all-inclusive-info-box--type-4">
              <div class="all-inclusive-info-box__img">
                <img src="images/all-inclusive/img-3.jpg" alt="">
              </div>

              <div class="all-inclusive-info-box__info">
                <p class="all-inclusive-info-box__desc">
                  Исследовать все общедоступные зоны и территории комплекса
                </p>
                <span class="all-inclusive-info-box__link">Читать больше<span></span></span>
              </div>

            </a>

          </div>
        </div>

        <div class="all-inclusive-slide">
          <div class="all-inclusive-slide__col">

            <a href="#" class="all-inclusive-info-box all-inclusive-info-box--type-1">
              <div class="all-inclusive-info-box__img">
                <img src="images/all-inclusive/img-1.jpg" alt="">
              </div>
              <div class="all-inclusive-info-box__info">
                <p class="all-inclusive-info-box__desc">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <span class="all-inclusive-info-box__link">Читать больше<span></span></span>
              </div>

            </a>

          </div>
          <div class="all-inclusive-slide__col">

            <div class="all-inclusive-info-box all-inclusive-info-box--type-2">
              <h6 class="all-inclusive-info-box__subtitle">
                Оздоровление
              </h6>
              <p class="all-inclusive-info-box__desc">
                Mriya Resort — это маленький город со множеством возможностей, каждый найдет себе занятие по вкусу
              </p>
            </div>

            <a href="#" class="all-inclusive-info-box all-inclusive-info-box--type-3">
              <div class="all-inclusive-info-box__img">
                <img src="images/all-inclusive/img-2.jpg" alt="">
              </div>

              <div class="all-inclusive-info-box__info">
                <p class="all-inclusive-info-box__desc">
                  Питаться в ресторане шведской линии согласно выбранному варианту
                </p>
                <span class="all-inclusive-info-box__link">Читать больше<span></span></span>
              </div>

            </a>

          </div>
          <div class="all-inclusive-slide__col">

            <a href="#" class="all-inclusive-info-box all-inclusive-info-box--type-4">
              <div class="all-inclusive-info-box__img">
                <img src="images/all-inclusive/img-3.jpg" alt="">
              </div>

              <div class="all-inclusive-info-box__info">
                <p class="all-inclusive-info-box__desc">
                  Исследовать все общедоступные зоны и территории комплекса
                </p>
                <span class="all-inclusive-info-box__link">Читать больше<span></span></span>
              </div>

            </a>

          </div>
        </div>

        <div class="all-inclusive-slide">
          <div class="all-inclusive-slide__col">

            <a href="#" class="all-inclusive-info-box all-inclusive-info-box--type-1">
              <div class="all-inclusive-info-box__img">
                <img src="images/all-inclusive/img-1.jpg" alt="">
              </div>
              <div class="all-inclusive-info-box__info">
                <p class="all-inclusive-info-box__desc">
                  Explicabo corrupti consequatur saepe expedita, fuga fugit sed magnam provident itaque mollitia!
                </p>
                <span class="all-inclusive-info-box__link">Читать больше<span></span></span>
              </div>

            </a>

          </div>
          <div class="all-inclusive-slide__col">

            <div class="all-inclusive-info-box all-inclusive-info-box--type-2">
              <h6 class="all-inclusive-info-box__subtitle">
                Оздоровление
              </h6>
              <p class="all-inclusive-info-box__desc">
                Mriya Resort — это маленький город со множеством возможностей, каждый найдет себе занятие по вкусу
              </p>
            </div>

            <a href="#" class="all-inclusive-info-box all-inclusive-info-box--type-3">
              <div class="all-inclusive-info-box__img">
                <img src="images/all-inclusive/img-2.jpg" alt="">
              </div>

              <div class="all-inclusive-info-box__info">
                <p class="all-inclusive-info-box__desc">
                  Питаться в ресторане шведской линии согласно выбранному варианту
                </p>
                <span class="all-inclusive-info-box__link">Читать больше<span></span></span>
              </div>

            </a>

          </div>
          <div class="all-inclusive-slide__col">

            <a href="#" class="all-inclusive-info-box all-inclusive-info-box--type-4">
              <div class="all-inclusive-info-box__img">
                <img src="images/all-inclusive/img-3.jpg" alt="">
              </div>

              <div class="all-inclusive-info-box__info">
                <p class="all-inclusive-info-box__desc">
                  Исследовать все общедоступные зоны и территории комплекса
                </p>
                <span class="all-inclusive-info-box__link">Читать больше<span></span></span>
              </div>

            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="all-inclusive__decor-right">
    <svg>
      <use xlink:href="images/sprites/sprite-multi.svg#decor-right"></use>
    </svg>
  </div>
</section>