<section class="choice">
  <div class="container">
    <div class="choice__header">
      <h2 class="choice__title">
        Выберите свой отдых
      </h2>
    </div>
    <div class="choice__body">
      <form action="#" class="choice__form choice-form">
        <div class="choice-form__box">

          <div class="choice-form__group">

            <select name="val" id="val" class="choice-form__type-vacation">
              <option value="">Семейный отдых</option>
            </select>

            <div class="choice-form__icon choice-form__icon--select-arrow">
              <svg>
                <use xlink:href="images/sprites/sprite-mono.svg#select-arrow"></use>
              </svg>
            </div>

          </div>

          <div class="choice-form__group">

            <input type="text" class="choice-form__calendar choice-form__calendar--from" value="пт, 8 мая">
            <span>-</span>
            <input type="text" class="choice-form__calendar choice-form__calendar--to" value="вс, 17 мая">

            <div class="choice-form__icon choice-form__icon--calendar">
              <svg>
                <use xlink:href="images/sprites/sprite-mono.svg#calendar"></use>
              </svg>
            </div>

          </div>

          <div class="choice-form__group">

            <input type="text" class="choice-form__details" value="2 взрослых">
            <span>•</span>
            <input type="text" class="choice-form__details" value="без детей">
            <span>•</span>
            <input type="text" class="choice-form__details" value="1 номер">

            <div class="choice-form__icon choice-form__icon--subtract">
              <svg>
                <use xlink:href="images/sprites/sprite-mono.svg#subtract"></use>
              </svg>
            </div>

          </div>

        </div>

        <input type="submit" class="choice-form__btn-submit" value="Найти">
      </form>
      <div class="choice__tabs choice-tabs">
        <div class="choice-tabs__header">
          <ul class="choice-tabs__list">
            <li class="choice-tabs__item choice-tabs__item--active" data-for="id-1">Спецпредложения</li>
            <li class="choice-tabs__item" data-for="id-2">Афиша</li>
            <li class="choice-tabs__item" data-for="id-3">Категории отдыха</li>
          </ul>

          <div class="choice-tabs__controls tabs-controls">
            <button class="tabs-controls__btn tabs-controls__btn--prev">
              <svg>
                <use xlink:href="images/sprites/sprite-mono.svg#arrow-prev"></use>
              </svg>
            </button>

            <button class="tabs-controls__btn tabs-controls__btn--next">
              <svg>
                <use xlink:href="images/sprites/sprite-mono.svg#arrow-next"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="choice-tabs__body">
          <div class="choice-tab choice-tab--active" data-id="id-1">
            <div class="choice-tab__pad">
              <a href="#" class="special-offer">
                <div class="special-offer__info">
                  <span class="special-offer__discount">
                    -20%
                  </span>
                  <h4 class="special-offer__title">
                    Для тех кто рядом
                  </h4>
                </div>
                <div class="special-offer__decor">
                  <svg>
                    <use xlink:href="images/sprites/sprite-mono.svg#decor-slide"></use>
                  </svg>
                </div>
                <img src="images/special-offer/1.jpg" alt="" class="special-offer__bg-img">
              </a>
              <a href="#" class="special-offer">
                <div class="special-offer__info">
                  <span class="special-offer__discount">
                    -10%
                  </span>
                  <h4 class="special-offer__title">
                    Ранее бронирование
                  </h4>
                </div>
                <div class="special-offer__decor">
                  <svg>
                    <use xlink:href="images/sprites/sprite-mono.svg#decor-slide"></use>
                  </svg>
                </div>
                <img src="images/special-offer/2.jpg" alt="" class="special-offer__bg-img">
              </a>
            </div>
          </div>
          <div class="choice-tab" data-id="id-2">
            <div class="choice-tab__pad">
              <a href="#" class="special-offer">
                <div class="special-offer__info">
                  <span class="special-offer__discount">
                    -20%
                  </span>
                  <h4 class="special-offer__title">
                    Для тех кто рядом
                  </h4>
                </div>
                <div class="special-offer__decor">
                  <svg>
                    <use xlink:href="images/sprites/sprite-mono.svg#decor-slide"></use>
                  </svg>
                </div>
                <img src="images/special-offer/1.jpg" alt="" class="special-offer__bg-img">
              </a>
              <a href="#" class="special-offer">
                <div class="special-offer__info">
                  <span class="special-offer__discount">
                    -10%
                  </span>
                  <h4 class="special-offer__title">
                    Ранее бронирование
                  </h4>
                </div>
                <div class="special-offer__decor">
                  <svg>
                    <use xlink:href="images/sprites/sprite-mono.svg#decor-slide"></use>
                  </svg>
                </div>
                <img src="images/special-offer/2.jpg" alt="" class="special-offer__bg-img">
              </a>
            </div>
          </div>
          <div class="choice-tab" data-id="id-3">
            <div class="choice-tab__pad">
              <a href="#" class="special-offer">
                <div class="special-offer__info">
                  <span class="special-offer__discount">
                    -20%
                  </span>
                  <h4 class="special-offer__title">
                    Для тех кто рядом
                  </h4>
                </div>
                <div class="special-offer__decor">
                  <svg>
                    <use xlink:href="images/sprites/sprite-mono.svg#decor-slide"></use>
                  </svg>
                </div>
                <img src="images/special-offer/1.jpg" alt="" class="special-offer__bg-img">
              </a>
              <a href="#" class="special-offer">
                <div class="special-offer__info">
                  <span class="special-offer__discount">
                    -10%
                  </span>
                  <h4 class="special-offer__title">
                    Ранее бронирование
                  </h4>
                </div>
                <div class="special-offer__decor">
                  <svg>
                    <use xlink:href="images/sprites/sprite-mono.svg#decor-slide"></use>
                  </svg>
                </div>
                <img src="images/special-offer/2.jpg" alt="" class="special-offer__bg-img">
              </a>
              <a href="#" class="special-offer">
                <div class="special-offer__info">
                  <span class="special-offer__discount">
                    -20%
                  </span>
                  <h4 class="special-offer__title">
                    Для тех кто рядом
                  </h4>
                </div>
                <div class="special-offer__decor">
                  <svg>
                    <use xlink:href="images/sprites/sprite-mono.svg#decor-slide"></use>
                  </svg>
                </div>
                <img src="images/special-offer/1.jpg" alt="" class="special-offer__bg-img">
              </a>
              <a href="#" class="special-offer">
                <div class="special-offer__info">
                  <span class="special-offer__discount">
                    -10%
                  </span>
                  <h4 class="special-offer__title">
                    Ранее бронирование
                  </h4>
                </div>
                <div class="special-offer__decor">
                  <svg>
                    <use xlink:href="images/sprites/sprite-mono.svg#decor-slide"></use>
                  </svg>
                </div>
                <img src="images/special-offer/2.jpg" alt="" class="special-offer__bg-img">
              </a>
              <a href="#" class="special-offer">
                <div class="special-offer__info">
                  <span class="special-offer__discount">
                    -20%
                  </span>
                  <h4 class="special-offer__title">
                    Для тех кто рядом
                  </h4>
                </div>
                <div class="special-offer__decor">
                  <svg>
                    <use xlink:href="images/sprites/sprite-mono.svg#decor-slide"></use>
                  </svg>
                </div>
                <img src="images/special-offer/1.jpg" alt="" class="special-offer__bg-img">
              </a>
              <a href="#" class="special-offer">
                <div class="special-offer__info">
                  <span class="special-offer__discount">
                    -10%
                  </span>
                  <h4 class="special-offer__title">
                    Ранее бронирование
                  </h4>
                </div>
                <div class="special-offer__decor">
                  <svg>
                    <use xlink:href="images/sprites/sprite-mono.svg#decor-slide"></use>
                  </svg>
                </div>
                <img src="images/special-offer/2.jpg" alt="" class="special-offer__bg-img">
              </a>
              <a href="#" class="special-offer">
                <div class="special-offer__info">
                  <span class="special-offer__discount">
                    -10%
                  </span>
                  <h4 class="special-offer__title">
                    Ранее бронирование
                  </h4>
                </div>
                <div class="special-offer__decor">
                  <svg>
                    <use xlink:href="images/sprites/sprite-mono.svg#decor-slide"></use>
                  </svg>
                </div>
                <img src="images/special-offer/2.jpg" alt="" class="special-offer__bg-img">
              </a>
              <a href="#" class="special-offer">
                <div class="special-offer__info">
                  <span class="special-offer__discount">
                    -20%
                  </span>
                  <h4 class="special-offer__title">
                    Для тех кто рядом
                  </h4>
                </div>
                <div class="special-offer__decor">
                  <svg>
                    <use xlink:href="images/sprites/sprite-mono.svg#decor-slide"></use>
                  </svg>
                </div>
                <img src="images/special-offer/1.jpg" alt="" class="special-offer__bg-img">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>