<footer class="footer">
  <div class="footer__decor-left">
    <img src="images/about-us/decor-img-1.png" alt="">
  </div>
  <div class="container">
    <div class="footer__body">
      <div class="footer__img">
        <img src="images/footer/tablet.png" alt="">
      </div>
      <div class="footer__logo logo">
        <svg>
          <use xlink:href="images/sprites/sprite-mono.svg#logo"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="footer__bg">
    <svg>
      <use xlink:href="images/sprites/sprite-mono.svg#MriyaResort"></use>
    </svg>
  </div>
</footer>