<section class="initial">
  <div class="container">
    <div class="initial__body">
      <div class="initial__decor">
        <svg>
          <use xlink:href="images/sprites/sprite-mono.svg#waves"></use>
        </svg>
      </div>
      <div class="initial__col">
        <div class="initial__info info-initial">
          <h6 class="info-initial__subtitle">
            Family & Health Club
          </h6>
          <h1 class="info-initial__title">
            Mriya <br>
            Resort
          </h1>
          <p class="info-initial__desc">
            Российский курорт для всей семьи
            на берегу черного моря
          </p>
          <div class="info-initial__control">
            <button class="info-initial__btn">
              Найти номер
            </button>
            <button class="info-initial__btn info-initial__btn--white">
              3D тур
            </button>
          </div>
          <div class="info-initial__arrow-btn">
            <span class="info-initial__decor">
            </span>
            <button class="info-initial__btn-down">
              <svg>
                <use xlink:href="images/sprites/sprite-mono.svg#arrow-down"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="initial__col">
        <ul class="initial__social-list social-list">
          <li class="social-list__item">
            <a href="#" class="social-list__link">
              <svg>
                <use xlink:href="images/sprites/sprite-mono.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="#" class="social-list__link">
              <svg>
                <use xlink:href="images/sprites/sprite-mono.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="#" class="social-list__link">
              <svg>
                <use xlink:href="images/sprites/sprite-mono.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="initial__bg">
    <div class="initial__weather weather">
      <div class="weather__info">
        <table>
          <tr>
            <td>
              <div class="weather__condition-icons">
                <svg>
                  <use xlink:href="images/sprites/sprite-mono.svg#cloudly"></use>
                </svg>
              </div>
            </td>
            <td><span class="weather__temp">27°</span></td>
          </tr>
          <tr>
            <td></td>
            <td><span class="weather__condition">Облачно</span></td>
          </tr>
          <tr>
            <td>
              <div class="weather__location-icons">
                <svg>
                  <use xlink:href="images/sprites/sprite-mono.svg#location"></use>
                </svg>
              </div>
            </td>
            <td><span class="weather__location">Ялта, Россия</span></td>
          </tr>
        </table>
      </div>
      <svg>
        <use xlink:href="images/sprites/sprite-multi.svg#bg-weather"></use>
      </svg>
    </div>

    <div class="initial__bg-img">
      <picture>
        <source srcset="images/initial-bg-320.png" media="(max-width: 320px)" />
        <img src="images/initial-bg.png" alt="" />
      </picture>
    </div>
  </div>
</section>