%euclid-300 {
  font-family: "EuclidCircularB", sans-serif;
  font-weight: 300;
}
%euclid-400 {
  font-family: "EuclidCircularB", sans-serif;
  font-weight: 400;
}
%euclid-500 {
  font-family: "EuclidCircularB", sans-serif;
  font-weight: 500;
}
%sbk-300 {
  font-family: "SangBleuKingdom", sans-serif;
  font-weight: 300;
}
